package ${package}.${moduleName}.controller;

import java.util.Arrays;
import java.util.Map;

import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.*;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.${className}Service;
import ${mainPath}.common.utils.Result;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 * ${moduleName}/${pathName}
 */
@RestController
@RequestMapping("admin")
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classname}Service;


    @GetMapping("/${pathName}/search")
    public Result<Page<${className}>> list(Page<${className}> page) {
        return Result.buildSuccessResult(${classname}Service.page(page));
    }

}
